.chart-container{
    max-width: 45%;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

@media ( max-width: 1024px) {
    .chart-container{
        max-width: 70%;
    }
}

@media ( max-width: 768px) {
    .chart-container{
        max-width: 90%;
    }
}
